<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <title>Invalid Data</title>
</head>

<body>
        <div class="album py-5">
            <div class="container">
                <!-- creates a container for a row of columns -->
                <!-- row-cols-1 specifies that there should be 1 column in this row -->
                <!-- g-3 class adds a gap of spacing between columns -->
                <div class="row row-cols-1 g-3 my-4">

                    <div class="container px-lg-3">
                        <div class="p-4 p-lg-5 bg-danger-subtle rounded-3">
                            <div class="m-4 m-lg-5 ">
                                <h1 class="display-5 fw-bold text-black text-center">INVALID DATA</h1>
                                
                                <h1 class="display-5 fw-bold text-black fs-5">Error 400: Invalid Data</h1>
                                <p class="fs-6 text-black fst-italic">Please insert valid and correct data.</p>

                                <div class="btns">
                                  <a routerLink="/homepage">Return home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>

</html>
