<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <title>List of Category</title>
</head>

<body>
        <div class="album py-5">
            <div class="container">
                
                <h3 class="my-4">Category List</h3>

                <div class="row row-cols-1 g-3">
                    <div class="col">
                        <table class="table table-hover table-striped">
                            <thead class="table-dark">
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Image</th>
                                <th scope="col">Created At</th>  
                                <th scope="col">Action</th>                             
                              </tr>
                            </thead>
                            
                            <tbody>
                                <tr *ngFor="let category of catDb">
                                    <td>{{category.catId}}</td>
                                    <td>{{category.name | convertUppercase}}</td>
                                    <td>{{category.description}}</td>
                                    <td><img [src]="category.image" alt="Category Image" [width]="50" [height]="50"></td>
                                    <td>{{category.createdAt}}</td>
                                    
                                    <td>
                                        <!-- to fix to link to category detail page -->
                                        <button [routerLink]="['/display-category', category.catId]" type="button" class="btn btn-success">View Details</button>                                
                                    </td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                
            </div>
        </div>


</body>

</html>